<%= render @client %>

<div>
  <%= link_to "Edit this client", edit_client_path(@client) %> |
  <%= link_to "Back to clients", clients_path %>
  <%= link_to "Delete this client", @client, method: :delete %>
</div>
