<div id="<%= dom_id balance %>">
  <p>
    <strong>Account:</strong>
    <%= link_to balance.account.name, balance.account %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= link_to balance.amount, balance %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= balance.comment %>
  </p>

</div>
