<% content_for :title, "Editing timesheet" %>

<h1>Editing timesheet</h1>

<%= render "form", timesheet: @timesheet %>

<br>

<div>
  <%= link_to "Show this timesheet", @timesheet %> |
  <%= link_to "Back to timesheets", timesheets_path %>
</div>
