<h2>Accounts</h2>

<table class="table table-striped" id="accounts">
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Balance</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr class="">
        <td><%= link_to account.name, account %></td>
        <td><%= account.latest_balance.amount %></td>
        <td><%= br_date account.latest_balance.created_at %></td>
      </tr>    
    <% end %>
  </tbody>
</table>

<%= link_to "New account", new_account_path %>
